<!DOCTYPE html>
    <html lang="es-MX">
            <head>
                <meta charset="utf-8">
                <meta
                name="viewport"
                content="width=device-width,
                initial-scale=1.0">
                <title>Agenda tu consulta</title>
                <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@300&display=swap" rel="stylesheet">
                <script src="https://www.google.com/recaptcha/api.js?render=6LfN_nwhAAAAABJrm4Y_-dUPfK9ZM1_JKhCFpByK"></script>

            </head>
            <body>
                <div class = "container">

                    <div id="popup" class="<%= activator %>">

                        <div class="popup_box active">

                            <span class="popup_wrap">
                                <p class="popup_icon">X</p>
                            </span>

                            <p id="msg1" class="popup_msg"> <%= msg1 %> </p>
                            <p id="msg2" class="popup_msg"> <%= msg2 %> </p>

                        </div>

                    </div>

                    <header>
                        <link rel="icon" href="favicon.ico">
                        <script src="https://kit.fontawesome.com/f468de835c.js" crossorigin="anonymous"></script>
    <nav id="menu">
    <a href="https://nutriologadalid.com/" id="logo" style="width: 25%;"><img src="logo002.png" alt="logo"></a>
    <i id= "hamburger" class="fas fa-bars"></i>
        <ul class="menu_options">
            <li><a href="https://nutriologadalid.com/services">Servicios</a></li>
            <li><a href="https://nutriologadalid.com/testimonials">Testimoniales</a></li>
            <li><a href="https://nutriologadalid.com/contact">Contacto</a></li>
            <li><a href="https://nutriologadalid.com/aboutme">Sobre mí</a></li>
            <li><a href="https://valeria-adalid-appointment-app.herokuapp.com/" class="products-button">Agenda tu Consulta</a></li>
        </ul>
    </nav>
    <ul class="_menu_options">
        <li><a href="https://nutriologadalid.com/services">Servicios</a></li>
        <li><a href="https://nutriologadalid.com/testimonials">Testimoniales</a></li>
        <li><a href="https://nutriologadalid.com/contact">Contacto</a></li>
        <li><a href="https://nutriologadalid.com/aboutme">Sobre mí</a></li>
              <li><a href="https://valeria-adalid-appointment-app.herokuapp.com/" class="products-button" style="background-color:transparent">Agenda tu Consulta</a></li>
            <ul>
        <li class="f_icon"><a href="https://www.instagram.com/consulta_nutri/" class="fab fa-instagram" target="_blank"></a></li>
        <li class="f_icon"><a href="https://www.facebook.com/nutriologavaleria.adalid" class="fab fa-facebook-f" target="_blank"></a></li>
        <li class="f_icon"><a href="https://www.tiktok.com/@nutrivaleria8" class="fab fa-tiktok" target="_blank"></a></li>
    </ul>
        <p><a class="footer-link" href="https://nutriologadalid.com/privacypolicy">Políticas de privacidad</a><br>
        </ul>

    <script>
        const bars = document.querySelector('#hamburger');
        const menu = document.querySelector('._menu_options');

        bars.addEventListener('click', function(){
            menu.classList.toggle('m_activate');
        });
    </script>
</header>


<div class="content contact-content">

<div id="caldendar_section">

    <iframe id="rendered_calendar" src="https://calendar.google.com/calendar/embed?wkst=2&bgcolor=%23d8df86&ctz=America%2FMexico_City&mode=MONTH&showTitle=0&showNav=1&showDate=1&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=ZjJlZmRjMDJlNTA1NmFjNWE3MTliNDQ0MmVkZGU4M2VmMzYxMmRmNmYzMjg0MTBmNTgyYTUzOTZlNzUxOTg5N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB" frameborder="0" scrolling="no"></iframe>

</div>


                    <div class="contact-form" style="background-color: var(--graduation-3);" >
                    <h4 style= "color: var(--white-5); margin:2rem auto; text-align: center;
                    width: 90%;">Agenda tu Consulta en Línea desde mi Página</h4>

                            <form id="appointment_form" action="/agenda-tu-consulta" method="post">

                                 <!-- <form id="appointment_form"> -->
                                <label for="service">Elije tu servicio</label>
                                <select id ="service" name="service">
                                    <option value="Primera Consulta - EN LÍNEA">Primera Consulta - EN LÍNEA</option>
                                    <option value="Consulta de Seguimiento - EN LÍNEA">Consulta de Seguimiento - EN LÍNEA</option>
                                    <option value="Primera Consulta - PRESENCIAL">Primera Consulta - PRESENCIAL</option>
                                    <option value="Consulta de Seguimiento - PRESENCIAL">Consulta de Seguimiento - PRESENCIAL</option>
                                    <option value="Test">Test</option>
                                </select>
                                <br>

                                <input type="date" id="date" name="date"
                                min="2022-01-01" max="2022-12-31" required>
                                <br>

                                <label for="hour">Hora</label>
                                <select id="hour" name="hour" required>
                                  <option class = "hour" value="11:00:00" selected>11:00 AM</option>
                                  <option class = "hour" value="12:00:00">12:00 PM</option>
                                  <option class = "hour" value="13:00:00">01:00 PM</option>
                                  <option class = "hour" value="14:00:00">02:00 PM</option>
                                  <option class = "hour" value="15:00:00">03:00 PM</option>
                                  <option class = "hour" value="16:00:00">04:00 PM</option>
                                  <option class = "hour" value="17:00:00">05:00 PM</option>
                                  <option class = "hour" value="18:00:00">06:00 PM</option>
                                  <option class = "hour" value="19:00:00">07:00 PM</option>
                                </select>
                                <br>

                                <input type="text" placeholder="Nombre" maxlength="30" name="name"  id="name" />
                                <br>

                                <input type="email" placeholder="Correo" maxlength="40" name="email" id="email"  />
                                <br>

                                <input type="tel" placeholder="Teléfono (Opcional)" maxlength="15" name="number" id="number"/>
                                <br>

                                <textarea type="text" placeholder="Comentarios adicionales" maxlength="1000" name="comments" id="comments" ></textarea>
                                <br>
                                <!-- <input data-sitekey="6LdZNn0hAAAAAC4H5KGSRN3TGRov_E3CatMY89OO" data-callback="onSubmit" data-action="submit" type="submit" name="send" value="Enviar" id="send"/> -->


                                <input data-action="submit" type="submit" name="send" value="Pagar con Paypal" id="send" style="background-color: var(--complementary-4); color: var(--complementary-2); max-width: none;"/>

                                </form>
                </div>
            </div>
            <footer id="footer">
                <ul>
                    <li><a href="https://www.instagram.com/consulta_nutri/" class="footer-link hide instagram" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/nutriologavaleria.adalid" class="footer-link hide facebook" target="_blank">Facebook</a></li>
                    <li><a href="https://www.tiktok.com/@nutrivaleria8" class="footer-link hide tiktok" target="_blank">Tiktok</a></li>
                </ul>
                    <p><a class="footer-link" href="https://nutriologadalid.com/privacypolicy">Políticas de privacidad</a><br>
                    &#64; 2022 NUTRIOLOGADALID.COM | Desarrollado por <a href="https://www.linkedin.com/in/omar-b-ram%C3%ADrez/" class="footer-link" target="_blank">Omar Ramírez</a> </p>
<style>
    @media (max-width: 900px){
        #caldendar_section {
            height: 900px;
            margin: auto;
            width: 100%;
        }
    }
    </style>

            </footer>
            </div>
            </body>
            <script src="/scripts.js"></script>

            </html>
