<!DOCTYPE html>
    <html lang="es-MX">
            <head>
                <meta charset="utf-8">
                <meta
                name="viewport"
                content="width=device-width,
                initial-scale=1.0">
                <title>Agenda tu consulta</title>
                <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@300&display=swap" rel="stylesheet">
                <script src="https://www.google.com/recaptcha/api.js?render=6LfN_nwhAAAAABJrm4Y_-dUPfK9ZM1_JKhCFpByK"></script>
                
            </head>
            <body>
                <div class = "container">
                    
                    <div id="popup" class="<%= activator %>">

                        <div class="popup_box active">
                            
                            <!-- <span class="popup_wrap">
                                <p class="popup_icon">X</p>
                            </span> -->
                            
                            <p class="popup_msg"> <%= msg1 %> <br> <%= msg2 %> </p>
                            <a  class="popup_msg" href="https://valeria-adalid-appointment-app.herokuapp.com/" style="color: var(--complementary-2);">Volver al Inicio</a>
                            
                        </div>

                    </div>   

                    <header>
                        <link rel="icon" href="favicon.ico">
                        <script src="https://kit.fontawesome.com/f468de835c.js" crossorigin="anonymous"></script>
    <nav id="menu">
    <a href="https://nutriologadalid.com/" id="logo" style="width: 25%;"><img src="logo002.png" alt="logo"></a>
    <i id= "hamburger" class="fas fa-bars"></i>
        <ul class="menu_options">
            <li><a href="https://nutriologadalid.com/services">Servicios</a></li>
            <li><a href="https://nutriologadalid.com/testimonials">Testimoniales</a></li>
            <li><a href="https://nutriologadalid.com/contact">Contacto</a></li>
            <li><a href="https://nutriologadalid.com/aboutme">Sobre mí</a></li>
            <li><a href="#" class="products-button">Agenda tu Consulta</a></li>
        </ul>
    </nav>
    <ul class="_menu_options">
        <li><a href="https://nutriologadalid.com/services">Servicios</a></li>
        <li><a href="https://nutriologadalid.com/testimonials">Testimoniales</a></li>
        <li><a href="https://nutriologadalid.com/contact">Contacto</a></li>
        <li><a href="https://nutriologadalid.com/aboutme">Sobre mí</a></li>
              <li><a href="#" class="products-button">Agenda tu Consulta</a></li>
            <ul>
        <li class="f_icon"><a href="https://www.instagram.com/consulta_nutri/" class="fab fa-instagram" target="_blank"></a></li>
        <li class="f_icon"><a href="https://www.facebook.com/nutriologavaleria.adalid" class="fab fa-facebook-f" target="_blank"></a></li>
        <li class="f_icon"><a href="https://www.tiktok.com/@nutrivaleria8" class="fab fa-tiktok" target="_blank"></a></li>
    </ul>
        <p><a class="footer-link" href="https://nutriologadalid.com/privacypolicy">Políticas de privacidad</a><br>
        </ul>

    <script>
        const bars = document.querySelector('#hamburger');
        const menu = document.querySelector('._menu_options');

        bars.addEventListener('click', function(){
            menu.classList.toggle('m_activate');
        });
    </script>
</header>


<div class="content contact-content" style="height: 100vh;"> 

                </div>
            </div>
            <footer id="footer">
                <ul>
                    <li><a href="https://www.instagram.com/consulta_nutri/" class="footer-link hide instagram" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/nutriologavaleria.adalid" class="footer-link hide facebook" target="_blank">Facebook</a></li>
                    <li><a href="https://www.tiktok.com/@nutrivaleria8" class="footer-link hide tiktok" target="_blank">Tiktok</a></li>
                </ul>
                    <p><a class="footer-link" href="https://nutriologadalid.com/privacypolicy">Políticas de privacidad</a><br>
                    &#64; 2022 NUTRIOLOGADALID.COM | Desarrollado por <a href="https://www.linkedin.com/in/omar-b-ram%C3%ADrez/" class="footer-link" target="_blank">Omar Ramírez</a> </p>
<style>
    @media (max-width: 900px){     
        #caldendar_section {
            height: 900px;
            margin: auto;
            width: 100%;
        }
    } 
    </style>
    
            </footer>
            </div>
            </body>
            <script src="/scripts.js"></script>

            </html>
