header {
  grid-area: header;
  background: none;
  margin: 0;
  padding: 0;
}

#logo{
  margin:0;
}

#logo img{
  margin: block;
  margin: 0.5rem;
  width: 7rem;
  max-width: 350px;
  object-fit: scale-down;
}

#hamburger{
  color: var(--black-1);
  display: none;
  margin: auto 0.5rem;
}

#menu {
  width: 100%;
  margin: auto 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align:middle;
}

.menu_options{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5rem;
}

._menu_options{
  display: none;
}

#menu ul li{
  display: flex;
  align-items: center;
  font-size: var(--text-menu);
  font-family: var(--secundary-font);
  padding: 0.3rem 1.2rem;
}

.products-button{
  padding: 0.5rem 1.1rem;
  border-radius: 4px;
  background-color: var(--primary);
  vertical-align: center;
}

.products-button:hover{
  color: var(--white-1);
}

/* MOBILE RESPONSIVE MODE */
